<!-- <nav class="fixed w-dvw grid place-items-center bottom-0 bg-gray-600"> -->
	<!-- <ul class="flex gap-6  bg-pink-300"> -->

<!-- Left -->
<nav class="fixed left-0 h-dvh grid place-items-center">
  <ul class="bg-gray-300 rounded-xl">
    <li class="btn">
      <a >Left</a>
    </li>
    
    <li class="btn">
      <a >Activities</a>
    </li>
    
    <li class="btn">
      <a >work</a>
    </li>
    
    <li class="btn">
      <a >about</a>
    </li>
    
    <li class="btn">
      <a >contact</a>
    </li>
    
    <li class="btn">
      <a >game</a>
    </li>
    
  </ul>
</nav>
<!-- Right -->
<nav class="fixed right-0 h-dvh grid place-items-center">
  <ul class="gap-6 bg-pink-300 rounded-xl">
    <li class="btn">
      <a >Right</a>
    </li>
    
    <li class="btn">
      <a >Activities</a>
    </li>
    
    <li class="btn">
      <a >work</a>
    </li>
    
    <li class="btn">
      <a >about</a>
    </li>
    
    <li class="btn">
      <a >contact</a>
    </li>
    
    <li class="btn">
      <a >game</a>
    </li>
    
  </ul>
</nav>

<!-- Top -->
<nav class="fixed top-0 w-dvw grid place-items-center">
  <ul class="flex gap-6 bg-pink-300 rounded-xl">
    <li class="btn">
      <a >Top</a>
    </li>
    
    <li class="btn">
      <a >Activities</a>
    </li>
    
    <li class="btn">
      <a >work</a>
    </li>
    
    <li class="btn">
      <a >about</a>
    </li>
    
    <li class="btn">
      <a >contact</a>
    </li>
    
    <li class="btn">
      <a >game</a>
    </li>
    
  </ul>
</nav>
<!-- Bottom -->
<nav class="fixed bottom-0 w-dvw grid place-items-center">
  <ul class="flex gap-6 bg-pink-300 rounded-xl">
    <li class="btn">
      <a >Bottom</a>
    </li>
    
    <li class="btn">
      <a >Activities</a>
    </li>
    
    <li class="btn">
      <a >work</a>
    </li>
    
    <li class="btn">
      <a >about</a>
    </li>
    
    <li class="btn">
      <a >contact</a>
    </li>
    
    <li class="btn">
      <a >game</a>
    </li>
    
  </ul>
</nav>
    